
/*---------------------------------------------------------------*/
/*BASIC SETUP*/
/*---------------------------------------------------------------*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    background-color:#fff;
    color: rgb(110, 110, 110);

    font-family: 'Lato','Arial',sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix{zoom: 1;}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*---------------------------------------------------------------*/
/*REUSABLE COMPONENTS*/
/*---------------------------------------------------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 90px 0;
}

.box{
    padding:1%;
}
/*-----HEADINGS-----*/

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1{
    margin: 0;
    margin-bottom: 20px;
    color:#fff;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

h2:after{
    display: block;
    height: 2px;
    width: 200px;
    background: #e67e22;
    content:'';
    margin:0 auto;
    margin-top: 40px;
}

.box p{
    font-size: 89%;
    line-height: 145%;
}


/*------Paragraphs-----*/
.long-copy{
    line-height: 145%;
    width: 68%;
    margin-left:18.5%;
}

/*------ICONS-----*/
.icon-big{
    font-size: 320%;
    display: block;
    text-align: center;
    color: #e67e22;
    margin-bottom:10px;
}


/*------BUTTONS-----*/

.btn:link,
.btn:visited
{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 200px; 
    transition: background-color 0.2s,border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
    
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color:#e67e22
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active{
    border: 1px solid #cf6d17;
    
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color:#fff;
}


/*---------------------------------------------------------------*/
/*HEADER*/
/*---------------------------------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top:20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top:60px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding-bottom:10px;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;

    
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    padding-bottom:10px;
    border-bottom: 2px solid #e67e22;
}

/*---------------------------------------------------------------*/
/*FEATURES*/
/*---------------------------------------------------------------*/
.section-features .long-copy{
    margin-bottom: 20px;
}

.section-features h3{
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center;
}

/*---------------------------------------------------------------*/
/*MEALS*/
/*---------------------------------------------------------------*/

.section-meals{
    padding:0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li{
    display: block;
    float:left;
    width:25%;
}

.meal-photo{
    width: 100%;
    margin:0;
    overflow: hidden;
    background:#000;
}

.meal-photo img{
    display: block;
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform:scale(1.15);
    transition: transform 1s, opacity 1s;
}

.meal-photo img:hover{
    display: block;
    opacity: 1;
    width: 100%;
    height: auto;
    transform:scale(1.03);
}


/*---------------------------------------------------------------*/
/*HOW IT WORKS*/
/*---------------------------------------------------------------*/

.section-steps{
    background-color: #f4f4f4;
}

.step-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top:30px;
}

.step-box:last-child{
    padding-left:3%;
    margin-top: 70px;
}

.app-screen{
    width: 40%;
}

.works-step{
    margin-bottom: 50px;
}

.works-step:last-of-type{
    margin-bottom: 80px;
}

.works-step div{
    color: #e67e22;
    border: 2px solid #e67e22;
    border-radius: 50%;
    height: 50px;
    width: 52px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;

    margin-right: 25px;
}

.btn-app img{
    height:50px;
    margin-right:10px;
}